/* About Us Section */
#about-us {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
    padding-top: 100px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    z-index: 1; 
    margin: 10px; 
}

.about-content, .mission-vision, .values-policies {
    margin-bottom: 40px; 
}

.about-content h2 {
    color: #0056b3;
    font-size: 28px;
    margin-bottom: 20px; 
}

.mission-vision {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mission, .vision {
    flex: 1;
    min-width: 280px;
}
h3{
    color: #ff6600;
    font-size: 22px;
    margin-bottom: 8px;
}
.values{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.values li{
    flex: 1;
    min-width: 280px;

}

.values ul, .policies ul {
    list-style-type: none;
    padding-left: 0;
}

.values li, .policies li {
    margin-bottom: 10px; /* Increased margin for more whitespace */
}

.values li strong {
    color: #0056b3;
}

/* Our Policies Section as Grid */
.policies {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
}
/*services*/
#services{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    height: 50vh;
    background-color: #f9f9f9;
    color: #000;
}
.service{
    text-align: center;
    width: 30%;
    margin: auto auto;
    line-height: 1.5;
}
.service h1{
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.service p{
    font-size: 20px;
    padding: 20px;
}
